ol{
    background: salmon;
    padding: 20px;

}
ol li{
    background: mistyrose;
    color:darkred;
    padding:10px;
    margin-left:20px;


}
ul{
    background: powderblue;
    padding:20px;
    list-style-position: inside;
    list-style: square inside;

}
ul li{
    background:mistyrose;
    color:darkblue;
    margin:5px;
    
}